$primary-color: #40586f;
$success-color: #51cf66;
$warning-color: #fcc419;
$danger-color: #ff6b6b;
$info-color: #868e96;

$body-bg: #e9eef3;

$navbar-bg: #f8f9fb;

$font-family: system-ui, -apple-system, "Segoe UI";

$sidebar-width: 200;
$sidebar-bg: #1f2d3d;
$menu-bg: #304156;
$menu-bg-hover: #263445;
$submenu-bg: #1f2d3d;
$submenu-bg-hover: #001528;

$menu-text:#bfcbd9;
$menu-text-active:#409EFF;
$subMenu-text-active:#f4f4f5;
